<div class="fs-large-button center-button">
    <div class="title-text">
        <i class="material-icons large">people</i>
        JAL Fly Socially Service
    </div>
    <%=link_to "Scan Your Ticket to Start", social_passenger_path(1), class: "waves-effect waves-light btn-large button"%>
</div>
